/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/**
 * https://stackoverflow.com/questions/32301206/how-to-fold-table-columns-into-rows-on-mobile-devices
https://results.nyrr.org/event/18VNYC/finishers#gender=M&page=1
 tr:nth-of-type(odd) {
    background: #eee;
}
 */
@media only screen and (max-width: 40em) {
    thead th:not(:first-child) {
        display: none;
    }

    td, th {
        display: block;
    }

    td[data-th]:before  {
        content: attr(data-th);
    }
}