/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/**
 https://stackoverflow.com/questions/25121144/alternating-row-colors-in-bootstrap-3-no-table
 */
.row-striped:nth-of-type(odd){
    background-color: #efefef;
}

.row-striped:nth-of-type(even){
    background-color: #ffffff;
    font-size: .8em;
}